
/*form-page*/
#parent_popup{
    background-color: rgba(189, 185, 185, 0.5);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    visibility: hidden;
}
#parent_popup:target{
    visibility: visible;
}
#popup{
    width: 500px;
    height: 320px;
    background-color: rgb(48, 47, 47);
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
#popup_main{
    text-align: center;
}
#popup_main div{
    margin: 20px;
}
.sub a{
    display: inline-block;
    margin: auto;
    background-color: rgb(165, 163, 163);
    color: #3a3a3a;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
}
.sub a:hover{
    background-color: aliceblue;
}
.popup_close{
    font-size: 50px;
    text-align: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.down{
    color: red;
}

/*form-order*/
.page-buy{
    background-color: rgba(19, 2, 95, 0.171);
    width: 100%;
    height: 100vh;
}
.page-buy .header{
    margin-top: 20px;
}
form{
    width: 80%;
    margin-top: 50px;
    margin: auto;
    color: rgb(93, 188, 212);
}
.check{
    width: 50px;
    background-size: contain;
}
legend{
    color: blueviolet;
    font-size: 30px;
}
