
.nav{
    display: flex;
    justify-content: center;
}
.menu li{
    display: inline-block;
    margin: 0 15px;
}
.menu a{
    color: rgb(77, 201, 250);
    font-size: 20px;
}
.menu a:hover{
    color: aquamarine;
    cursor: pointer;
}
.buy{
    display: none;
}

